"*":
  core:
    audioBeep: false
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
    disabledPackages: [
      "styleguide"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "tree-view"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.36
    showIndentGuide: true
    softWrap: false
    softWrapped: false
  "exception-reporting":
    userId: "88838393-5dc9-aff0-337c-cfa8b8b7370a"
  metrics:
    userId: "b41e910c48c82373ed1dc8738d1b95370494448d"
  "vim-mode": {}
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
  welcome:
    showOnStartup: false
  "vim-mode-plus": {}
